name: Build & Push Image

on:
  push:
    branches:
      - master

permissions:
  contents: read
  packages: write

env:
  IMAGE_NAME: ghcr.io/mau-r/pythonkatta

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      USE_GKE_GCLOUD_AUTH_PLUGIN: "True"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: katta-484223

      - name: Get GKE credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: pythonkatta-cluster
          location: us-central1

      - name: Test cluster access
        run: |
          kubectl get nodes
          kubectl get ns
