name: Build & Push Image

on:
  push:
    branches:
      - master

permissions:
  contents: read
  packages: write

env:
  IMAGE_NAME: ghcr.io/mau-r/pythonkatta

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.IMAGE_NAME }}:latest

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: katta-484223

      - name: Get GKE credentials
        run: |
          gcloud container clusters get-credentials pythonkatta-cluster \
            --zone us-central1 \
            --project katta-484223

      - name: Test cluster access
        run: |
          kubectl get nodes
          kubectl get ns
